
MSB_ID=mongoshakenbake
MSB_LOG_DIR=./logs
MSB_LOG_FILE=mongoshakenbake.log
MSB_SOURCE_URL=mongodb+srv://<user>:<password>@source.123456.mongodb.net/?tls=true&authSource=admin&appName=mongoshakenbake
MSB_DEST_ADDRESS=mongodb+srv://<user>:<password>@dest.654321.mongodb.net/?tls=true&authSource=admin&appName=mongoshakenbake
# filename (resolved to /app/conf/<value>) or explicit path containing '/'
MSB_CONF=collector-atlas.conf